body {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 20px;
  margin: auto;
}

label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}